<div class="language-selector">
  <div class="container row">
    <a class="nav-anchor" href="{{ "/" | relative_url }}">
    <img class="lang-icon" src="{{ " assets/img/en.png" | absolute_url }}">
    </a>
    <a class="nav-anchor" href="{{ "/" | relative_url }}">
    <img class="lang-icon" src="{{ " assets/img/gr.png" | absolute_url }}">
    </a>
  </div>
</div>
<nav id="nav-bar-extended" class="nav-extended white" role="navigation">
  <div class="nav-wrapper container center-align" id="nav-wrapper">
    <a class="nav-anchor hide-on-med-and-down" href="{{ "/" | relative_url }}">
    <img id="logo-img" class="icon hide-on-med-and-down" src="{{ " assets/img/logo.png" | absolute_url }}">
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="{{ | absolute_url}}">{{ nav.title }}</a>
      </li>
      {% for nav in site.data.nav %}
      {% if nav.mobile_only == nil %}
      {% if nav.subcategories != null %}
      <li>
        <a class='dropdown-trigger' href='#' data-target='dropdown-nav-{{ forloop.index }}'>{{ nav.title }}<i
          class="material-icons right">arrow_drop_down</i></a>
        <ul id='dropdown-nav-{{ forloop.index }}' class='dropdown-content'>
          {% for subcategory in nav.subcategories %}
          <li>
            <a href="{{ subcategory.subhref | absolute_url}}">{{ subcategory.subtitle }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% elsif nav.title == page.title %}
      <li class="active"><a href="{{ nav.url }}">{{ nav.title }}</a></li>
      {% else %}
      <li>
        <a href="{{ nav.href | absolute_url}}">{{ nav.title }}</a>
      </li>
      {% endif %}
      {% endif %}
      {% endfor %}
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <div class="background">
        <img id="logo-img-mobile" width="300px" class="no-margin-bottom" src="{{ " assets/img/logo.png" | absolute_url
        }}">
      </div>
      {% for nav in site.data.nav %}
      {% if nav.subcategories != null %}
      <li>
        <a class='dropdown-trigger-mobile' href='#' data-target='dropdown-nav-mobile-{{ forloop.index }}'>{{ nav.title
          }}<i class="material-icons right">arrow_drop_down</i></a>
        <ul id='dropdown-nav-mobile-{{ forloop.index }}' class='dropdown-content'>
          {% for subcategory in nav.subcategories %}
          <li>
            <a href="{{ subcategory.subhref | absolute_url}}">{{ subcategory.subtitle }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% elsif nav.title == page.title %}
      <li class="active"><a href="{{ nav.url }}">{{ nav.title }}</a></li>
      {% else %}
      <li>
        <a href="{{ nav.href | absolute_url}}">{{ nav.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
