---
layout: default
---

<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://picsum.photos/1970/400/?image=1031"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://picsum.photos/1970/400/?image=1076"> <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://picsum.photos/1970/400/?image=983"> <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://picsum.photos/1970/400/?image=237"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>


<div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">menu</i></h2>
            <h5 class="center">Αντισεισμικά κτίρια</h5>

            <p class="light">Είναι πλέον επιστημονικά αλλά και εμπειρικά τεκμηριωμένο ότι η σύμμεικτη δόμηση, δηλαδή η χρήση χάλυβα για τον φέροντα οργανισμό και οπλισμένου σκυροδέματος στη θεμελίωση...</p>
            <p><a href="simmikta_ktiria/" class="light grey-text">Διβάστε περισσότερα...</a></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">vertical_align_center</i></h2>
            <h5 class="center">Στατική επάρκεια</h5>

            <p class="light">Η στατική επάρκεια αποτελεί τη θεμελιωδέστερη προυπόθεση για το "ασφαλώς κατοικείν". Ιδιαίτερα σε μια σεισμογενή χώρα, όπως η Ελλάδα, είναι καλό πριν από οποιαδήποτε παρέμβαση...</p>
            <p><a href="statiki_eparkia/" class="light grey-text">Διβάστε περισσότερα...</a></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">business</i></h2>
            <h5 class="center">Αναμορφώσεις όψεων</h5>

            <p class="light">Οι αναμορφώσεις όψεων, με σκοπό την εξοικονόμηση ενέργειας αλλά και την αισθητική αναβάθμιση, σε συνδυασμό βεβαίως με προηγούμενη διερεύνηση της στατικής επάρκειας αποτελούν τις συνήθεις παρεμβάσεις στο κέλυφος των υφιστάμενων κτιρίων</p>
            <p><a href="anamorfoseis_opseon/" class="light grey-text">Διβάστε περισσότερα...</a></p>

          </div>
        </div>
      </div>

    </div>
      
    </div>
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Ενδιαφέροντα θέματα</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>
    </div>
</div>

  </div>
